# 虚拟环境
.venv/
venv/

# 编译文件
__pycache__/
*.pyc

# 本地配置文件
.env
*.local

# 结果文件
best_model.npz
data
test_acc.txt
step1_hyperparam_results.txt
hyperparam_results.txt
weight_visualization.png
data/cifar-10-python.tar.gz

repo.md